<%= simple_form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="data-toggle">
    <a class="btn btn-large" href="#textbox" data-toggle="modal"><i class="icon-font"></i> Text</a>
    <a class="btn btn-large" href="#picture" data-toggle="modal"><i class="icon-camera"></i> Image</a>
    <a class="btn btn-large" href="#video" data-toggle="modal"><i class="icon-facetime-video"></i> Video</a>
    <a class="btn btn-large" href="#audio" data-toggle="modal"><i class="icon-music"></i> Audio</a>
  </div>

  <div id="textbox" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="textboxLabel" aria-hidden="true">
    <%= render :partial => "textbox", :locals => {:f => f} %>
  </div>

  <div id="picture" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="textboxLabel" aria-hidden="true">
    <%= render :partial => "picture", :locals => {:f => f} %>
  </div>
<% end %>
