<%= simple_form_for(@post, :html => {:novalidate => true}) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="data-toggle">
    <a class="btn btn-large" href="#textbox" data-toggle="modal"><i class="icon-font"></i> Text</a>
    <a class="btn btn-large" href="#picture" data-toggle="modal"><i class="icon-camera"></i> Picture</a>
    <a class="btn btn-large" href="#video" data-toggle="modal"><i class="icon-facetime-video"></i> Video</a>
    <a class="btn btn-large" href="#audio" data-toggle="modal"><i class="icon-music"></i> Audio</a>
  </div>

<div id="textbox" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="textboxLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="textboxLabel">Create a New Text Post</h3>
  </div>
  <div class="modal-body">
    <%= f.input :title %>
    <%= f.input :content, as: :text, input_html: { rows: "10" } %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <%= f.submit :success %>
  </div>
</div>

<div id="picture" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="textboxLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="textboxLabel">Create a New Text Post</h3>
  </div>
  <div class="modal-body">
    <%= f.input :title %>
    <%= f.input :image %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <%= f.submit :success %>
  </div>
</div>
<% end %>
